# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Ola\Desktop\sem7\Projektowanie Skalowalnych Systemów Obiektowych\Lab1\prototype_OO_stud\PrototypePattern_OO\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
